/* -----------------------------------------------
   Variables
----------------------------------------------- */

// Colors:
// Should be assigned to "roles", NEVER used directly.
$red       : #ff0000;
$blue      : #0000ff;
$green     : #00ff00;
$black     : #000000;
$gray      : #cccccc;


// Color Roles:
// Roles can change more easily than named colors.
$accent-primary       : $red;
$accent-secondary     : $blue;
$accent-dk            : $black;

$base-border-color    : $gray;
$base-font-color      : $black;
$base-link            : $red;
$base-link-hover      : $blue;
$base-form-highlight  : $red;
$base-form-color      : $black;

$background-color     : white;
$foreground-color     : white;


// Fonts:
$em-base:16px;

$base-font-family : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size : em(16);
$base-line-height : 1.5;

$heading-font-family:"Georgia", serif;
$heading-font-size : em(16);
$heading-line-height : 1.5;


// Chevron Arrows
$chevron-down:225deg;
$chevron-up:45deg;
$chevron-left:-45deg;
$chevron-right:136deg;

/* --------------------------------- */

// Measurements:
$toolbar-height     : 60px;
$menu-width         : 200px;
$menu-compact-width : 60px;
$session-width      : 200px;

// Depths:
$background   : 1000;
$middleground : 2000;
$foreground   : 3000;

// Animation Styles:
$layout-shift: 333ms ease-out;
$overlay-shift: 456ms ease-out;